<ngx-smart-modal #zohoPopup identifier="zohoPopup" class="zohoPopup">
  <app-zohopopupembaed></app-zohopopupembaed>
</ngx-smart-modal>

<section class="start_wrapper certificate-add-form">

  <div class="overlay-show">
    <p>Uploading file. Please Wait...</p>
  </div>
  <div class="user-certificate hpanel">
    <div class="panel-body">
      <div class="">
        <div class="add-student-form">
          <mat-horizontal-stepper class="form-horizontal" linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>
                  <span class="arrow">
                    <i class="fa fa-check"></i>
                  </span>
                  <span class="not-arrow"></span>
                  <p>{{'step' | translate}} 1</p>
                </ng-template>

                <ngx-smart-modal #DescriptionPopup identifier="DescriptionPopup"
                  class="DescriptionPopup certificate-popup" [closable]='false' [escapable]='false'
                  [dismissable]='false'>
                  <h4>{{'description' | translate}} </h4>
                  <div class="angular-editor">
                    <!-- <quill-editor [style]="{height: '100px'}" [formControl]="firstFormGroup.controls['description']"
                        [(ngModel)]="certificateModel.description"></quill-editor> -->
                    <angular-editor [placeholder]="'Insert text here...'" [config]="editorConfig"
                      [style]="{height: '100px'}" [formControl]="firstFormGroup.controls['description']"
                      [(ngModel)]="certificateModel.description"></angular-editor>

                  </div>

                  <div class="col-sm-12">
                    <!-- <button type="button" (click)="discriptionContent(firstFormGroup.controls['description']);ngxSmartModalService.getModal('DescriptionPopup').close()" mat-button
                      class="btn btn-form-save">{{'ok' | translate}}</button> -->
                    <button type="button"
                      (click)="discriptionContent(firstFormGroup.controls['description']);ngxSmartModalService.getModal('DescriptionPopup').close()"
                      mat-button class="btn btn-form-save">{{'ok' | translate}}</button>
                  </div>
                </ngx-smart-modal>

                <ngx-smart-modal #CriteriaPopup identifier="CriteriaPopup" class="CriteriaPopup certificate-popup"
                  [closable]='false' [escapable]='false' [dismissable]='false'>
                  <h4>{{'criteria' | translate}} </h4>
                  <div class="angular-editor">
                    <!-- <quill-editor [style]="{height: '100px'}" [formControl]="firstFormGroup.controls['criteria']"
                        [(ngModel)]="certificateModel.criteria"></quill-editor> -->
                    <angular-editor [placeholder]="'Insert text here...'" [config]="editorConfig"
                      [style]="{height: '100px'}" [formControl]="firstFormGroup.controls['criteria']"
                      [(ngModel)]="certificateModel.criteria">
                    </angular-editor>
                  </div>

                  <div class="col-sm-12">
                    <button type="button" (click)="ngxSmartModalService.getModal('CriteriaPopup').close()" mat-button
                      class="btn btn-form-save">{{'ok' | translate}}</button>
                  </div>
                </ngx-smart-modal>

                <div class="hpanel">
                  <div class="header-top">
                    <div class="col-lg-4 col-md-12">
                      <div class="header-title">
                        <h3><img src="assets/images/certificates/certificate-image.png" style="width:50px;"> {{'add_edit_certificate' |
                          translate}} <span matTooltip="{{'phi_add_cert' |
                          translate}}" class="headTooltip"><i class="material-icons">
                              help_outline</i></span></h3>
                      </div>
                    </div>

                    <div class="col-lg-8 col-md-12">
                      <div class="header-btns">

                        <ul class="badge-btn-list">

                          <li [ngClass]="{ hidden : certificateID }">
                            <div class="onload-message">
                              <h4>{{'certificateform_info_designer' | translate}}</h4>
                            </div>
                          </li>

                          <li [ngClass]="{ hidden : certificateID }">
                            <div class="designer-toggle">
                              <mat-slide-toggle id="editIsActive" formControlName="selectImageOption"
                                [(ngModel)]="certificateModel.selectImageOption" (change)="onTemplateChange($event)">
                                {{'templates' | translate}}
                              </mat-slide-toggle>
                            </div>
                          </li>

                          <li [ngClass]="{ hidden : !certificateID }">
                            <div class="active-toggle">
                              <mat-slide-toggle id="editIsActive" formControlName="is_active"
                                [(ngModel)]="certificateModel.is_active">{{'active'
                            | translate}}</mat-slide-toggle>
                            </div>
                          </li>

                          <!-- <li>
                            <div class="active-toggle" (click)="ngxSmartModalService.getModal('zohoPopup').open()">
                              <a>{{'req_custom_design' | translate}}</a>
                            </div>
                          </li> -->
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="panel-body">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-4 col-md-12">
                      <div class="course-left">
                        <div class="course-left-sub">
                          <div class="form-group custom-fields">
                            <input type="text" class="form-control" (keyup)="onDisplayCompTitle($event.target.value)"
                              formControlName="title" [(ngModel)]="certificateModel.title"
                              placeholder="{{'certificate_name' | translate}}">
                            <span matTooltip="{{'info_cert_title' | translate}}"><i class="material-icons">
                                help_outline </i></span>
                            <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('title') ||
                              errorMsgArr['title'] | translate}}</div>
                          </div>

                          <div class="form-group custom-fields">
                            <input type="text" class="form-control" formControlName="identifier"
                              (keyup)="onIdentifierChanges($event.target.value)"
                              [(ngModel)]="certificateModel.identifier" placeholder="{{'identifier' | translate}}">
                            <span matTooltip="{{'info_about_identifier_field' | translate}}"><i class="material-icons">
                                help_outline </i></span>
                          </div>

                          <div [ngClass]="{ hidden : !displayField }" class="form-group custom-fields">
                            <input type="text" class="form-control" id="degree" formControlName="degree"
                              (keyup)="onDisplayCompDesgree($event.target.value)" [(ngModel)]="certificateModel.degree"
                              placeholder="{{'degree' | translate}}">
                            <span matTooltip="{{'info_cert_degree' | translate}}"><i class="material-icons">
                                help_outline </i></span>
                            <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('degree') ||
                              errorMsgArr['degree'] | translate}}</div>
                          </div>

                          <div class="form-group custom-fields" [ngClass]="{ hidden : !certificateID }">
                            <input type="text" class="form-control" id="code" formControlName="code"
                              [(ngModel)]="certificateModel.code" placeholder="{{'code' | translate}}" readonly>
                            <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('code') ||
                              errorMsgArr['code'] | translate}}</div>
                          </div>

                          <div [ngClass]="{ hidden : displayField }" class="form-group custom-fields">
                            <input *ngIf="!ibmCertDisplay && defaultEulogyPlacholder != ''" type="text"
                              class="form-control" (keyup)="onDisplayCompEulogy($event.target.value)"
                              formControlName="eulogy" [(ngModel)]="certificateModel.eulogy"
                              placeholder="{{defaultEulogyPlacholder | translate}}">
                            <input *ngIf="ibmCertDisplay && defaultEulogyPlacholder != ''" type="text"
                              class="form-control" (keyup)="onDisplayIbmEulogy($event.target.value)"
                              formControlName="eulogy" [(ngModel)]="certificateModel.eulogy"
                              placeholder="{{defaultEulogyPlacholder | translate}}">

                            <input *ngIf="!ibmCertDisplay && defaultEulogyPlacholder == ''" type="text"
                              class="form-control" (keyup)="onDisplayCompEulogy($event.target.value)"
                              formControlName="eulogy" [(ngModel)]="certificateModel.eulogy"
                              placeholder="{{'eulogy' | translate}}">
                            <input *ngIf="ibmCertDisplay && defaultEulogyPlacholder == ''" type="text"
                              class="form-control" (keyup)="onDisplayIbmEulogy($event.target.value)"
                              formControlName="eulogy" [(ngModel)]="certificateModel.eulogy"
                              placeholder="{{'eulogy' | translate}}">

                            <span matTooltip="{{'info_cert_eulogy' | translate}}"><i class="material-icons">
                                help_outline </i></span>
                            <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('eulogy') ||
                              errorMsgArr['eulogy'] | translate}}</div>
                          </div>

                          <div [ngClass]="{ hidden : displayField }" class="form-group custom-fields">
                            <input *ngIf="!ibmCertDisplay && defaultSubjectPlacholder != ''" type="text"
                              class="form-control" (keyup)="onDisplayCompSubject($event.target.value)"
                              formControlName="subject" [(ngModel)]="certificateModel.subject"
                              placeholder="{{defaultSubjectPlacholder | translate}}">

                            <input *ngIf="ibmCertDisplay && defaultSubjectPlacholder != ''" type="text"
                              class="form-control" (keyup)="onDisplayIbmSubject($event.target.value)"
                              formControlName="subject" [(ngModel)]="certificateModel.subject"
                              placeholder="{{defaultSubjectPlacholder | translate}}">

                            <input *ngIf="!ibmCertDisplay && defaultSubjectPlacholder == ''" type="text"
                              class="form-control" (keyup)="onDisplayCompSubject($event.target.value)"
                              formControlName="subject" [(ngModel)]="certificateModel.subject"
                              placeholder="{{'subject_c' | translate}}">

                            <input *ngIf="ibmCertDisplay && defaultSubjectPlacholder == ''" type="text"
                              class="form-control" (keyup)="onDisplayIbmSubject($event.target.value)"
                              formControlName="subject" [(ngModel)]="certificateModel.subject"
                              placeholder="{{'subject_c' | translate}}">

                            <span matTooltip="{{'info_cert_subject' | translate}}"><i class="material-icons">
                                help_outline </i></span>
                            <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('subject') ||
                              errorMsgArr['subject'] | translate}}</div>
                          </div>


                          <div class="certificate-color-picker">
                            <h3 *ngIf="isColorChange">{{'cert_color_picker' | translate}} <span
                                matTooltip="{{'info_cert_color_picker' | translate}}" class="upload_badge"><i
                                  class="material-icons"> help_outline </i></span></h3>
                            <h3 *ngIf="!isColorChange">{{'your_selected_certificate' | translate}} <span
                                matTooltip="{{'info_cert_color_picker' | translate}}" class="upload_badge"><i
                                  class="material-icons"> help_outline </i></span></h3>
                            <div class="row">
                              <ul class="color-themes">
                                <li *ngIf="isColorChange"><a (click)="openColorPicker()"><img
                                      src="assets/images/colorpicker.gif"></a></li>
                                <li *ngFor="let colorBadge of schemaOfBadges"><a
                                    (click)="onSelectedBadgeColor(colorBadge.name, 'default')"><img width="80px"
                                      height="75px" src="{{colorBadge.image_path}}"></a></li>
                              </ul>
                            </div>
                            <div class="btn-container" [ngClass]="{ hidden : !optionLogodisplay }">
                              <div class="upload-badgeLogo">

                                <div class="uploadTitle">
                                  <div class="pull-left">
                                    <h3>{{'upload_optional_logo' | translate}} <span
                                        matTooltip="{{'info_cert_upload_optional' | translate}}" class="upload_badge"><i
                                          class="material-icons"> help_outline
                                        </i></span></h3>
                                  </div>

                                  <div class="pull-right">
                                    <div class="toggle-container">
                                      <mat-slide-toggle id="toggleUploadOptImage"
                                        matTooltip="{{secondaryStatus ? 'disable' : 'enable' | translate}}"
                                        [checked]="secondaryStatus" (change)="toggleUploadImage($event.checked)">
                                      </mat-slide-toggle>
                                    </div>
                                  </div>
                                </div>

                                <div [ngClass]="{ hidden : !secondaryStatus }">
                                  <div class="upload_logo">
                                    <ul class="badgelogoList">
                                      <li>
                                        <div class="badgeLogo">
                                          <img
                                            src="{{secondaryStatus === false ? 'assets/images/badges/html/noimage.png' : certificateModel.company_logo && certificateModel.company_logo !== 'badge_logo.png'  ? certificateModel.company_logo : 'assets/images/badges/html/logo.png'}}">
                                        </div>
                                      </li>
                                    </ul>


                                    <div class="btn-select">
                                      <div class="select-file">
                                        <label class="btn btn-primary">{{'select_file' | translate}}
                                          <input type="file" name="file" accept=".jpg, .jpeg, .png"
                                            style="display: none" (change)="onUploadCompLogo($event)">
                                        </label>
                                      </div>

                                      <div class="text-danger text-left small" *ngIf="errorMsgArr['company_logo']">{{errorMsgArr['company_logo']
                                      | translate}}</div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                            <div class="form-group custom-fields signature-block"
                              [ngClass]="{ hidden : !multiOptionLogoHide }">
                              <div class="pull-left">
                                <h3>{{'upload_multiple_optional_logo' | translate}} <span
                                    matTooltip="{{'info_upload_multiple_optional_logo' | translate}}"
                                    class="upload_badge"><i class="material-icons"> help_outline
                                    </i></span></h3>
                              </div>
                              <div formArrayName="option_logo_list">
                                <div
                                  *ngFor="let child of firstFormGroup.controls.option_logo_list['controls']; let i = index">
                                  <div formGroupName="{{i}}" class="signature-sub">
                                    <div class="upload_logo">
                                      <ul class="signature-list" *ngIf="mulOptImg[i] && mulOptImg[i] != 'null'">
                                        <li>
                                          <div class="signature-img">
                                            <img [src]="mulOptImg[i]">
                                          </div>
                                        </li>
                                      </ul>

                                      <div class="btn-select">
                                        <div class="select-file">
                                          <label _ngcontent-c16="" class="btn btn-primary">
                                            Select File
                                            <input type="file" formControlName="image" accept=".jpg, .jpeg, .png"
                                              (change)="onMultipleOptLogo($event, i)" style="display: none" />
                                          </label>
                                          <span class="sign-clear" (click)="clearUploadImage(i)">
                                            <i class="material-icons"> replay</i>
                                          </span>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-group custom-fields">
                                      <input type="text" class="form-control" formControlName="name"
                                        (input)="onMultipleOptName($event.target.value, i)"
                                        placeholder="{{'placeholder_name' | translate}}"
                                        [value]="getInputValue(i, 'name')">
                                    </div>

                                    <div class="form-group custom-fields">
                                      <input type="text" class="form-control" formControlName="position"
                                        (input)="onMultipleOptPosition($event.target.value, i)"
                                        placeholder="{{'placeholder_position' | translate}}"
                                        [value]="getInputValue(i, 'pos')">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group select_dropdown">
                              <!-- <ng-select formControlName="skills" [(ngModel)]="certificateModel.skills" (keypress)="onAvoidComma($event)" placeholder="{{'select' | translate}}
                          {{'skills' | translate}}" [searchFn]="customSearchFn" [selectOnTab]='true' [items]="skillsData"
                                [multiple]="true" bindLabel="item" bindValue="item" [addTag]="true">
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                  {{item.item ? item.item : item}}
                                  <span class="ng-value-icon right" (click)="clear(item); $event.stopPropagation()"
                                    aria-hidden="true">×</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                  {{item.item ? item.item : item}}
                                </ng-template>
                              </ng-select> -->
                              <ng-select formControlName="skills" [(ngModel)]="certificateModel.skills"
                                (input)="searchSkill($event.target.value)" [selectOnTab]='true'
                                (keypress)="onAvoidComma($event)" placeholder="{{'select' | translate}}
                    {{'skills' | translate}}" bindLabel="item" bindValue="item.item ? item.item : item"
                                [multiple]="true" bindLabel="item" bindValue="item" [addTag]="addNewSkill">
                                <ng-option *ngFor="let item of skillsData" [value]="item.item ? item.item : item">
                                  {{item.item ? item.item : item}}
                                </ng-option>
                              </ng-select>
                              <span class="icons" matTooltip="{{'info_skills_field' | translate}}"><i
                                  class="material-icons"> help_outline
                                </i></span>
                              <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('skills') ||
                                errorMsgArr['skills'] | translate}}</div>
                            </div>

                            <div class="form-group custom-fields">
                              <a (click)="ngxSmartModalService.getModal('DescriptionPopup').open()"><input type="text"
                                  class="form-control" placeholder="{{'description' | translate}}"
                                  value="{{removeHtml(certificateModel.description)}}" readonly></a>
                              <span matTooltip="{{'info_cert_desp' | translate}}"><i class="material-icons">
                                  help_outline</i></span>
                            </div>

                            <div class="form-group custom-fields">
                              <a (click)="ngxSmartModalService.getModal('CriteriaPopup').open()"><input type="text"
                                  class="form-control" placeholder="{{'criteria' | translate}}"
                                  value="{{removeHtml(certificateModel.criteria)}}" readonly></a>
                              <span matTooltip="{{'info_cert_critria' | translate}}"><i class="material-icons">
                                  help_outline</i></span>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-lg-8 col-md-12">
                      <div class="course-right">
                        <div class="badge-list-container">
                          <ul class="badge-list">
                            <li *ngFor="let certThumb of resCertImages">
                              <a class="findFirstBadge" id="{{certThumb.template_number}}"
                                (click)="onSelectedBadge(certThumb.template_number)"><img width="80px" height="75px"
                                  src="{{certThumb.thumb_image}}"></a>
                            </li>
                          </ul>
                        </div>

                        <div class="course-image-block">
                          <div id="dynBadgeTemplate" class="badge-templates">
                          </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="errorMsg"> {{'valid_inputs' | translate}} </div>
                        <div class="bottom-btnContainer">
                          <div class="btn-container publishbtnContainer">
                            <button *ngIf="process" class="btn btn-primary">{{'processing' |
                                    translate}}...</button>

                            <button *ngIf="!process" mat-button id="back_to_courses" routerLink="/usercertificate"
                              class="green cancel-btn">{{'color_pic_cancel'
                                  | translate}}</button>

                            <button *ngIf="!process" type="submit" mat-button class="btn btn-form-save"
                              (click)="submitted = firstFormGroup.invalid; submitForm(certificateModel, false)">{{'save_button'
                              | translate}}</button>

                            <button
                              *ngIf="( !process && certificateModel.is_active && apiService.pages.issue_certificate ) || ( !process && apiService.matrixData.remaining_wallet >= 10 && certificateModel.is_active && apiService.pages.issue_certificate )"
                              type="submit" mat-button class="btn publish blue mat-button"
                              (click)="submitted = firstFormGroup.invalid; submitForm(certificateModel, true)">{{'publish'
                                | translate}}</button>

                            <button *ngIf="!emptyCourse && !process" type="submit" class="publish-btn" mat-button
                              matStepperNext class="step-next" (click)="submitted = firstFormGroup.invalid">
                              <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> {{'next' |
                                translate}}
                            </button>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>
                  <span class="arrow">
                    <i class="fa fa-check"></i>
                  </span>
                  <span class="not-arrow"></span>
                  <p>{{'step' | translate}} 2</p>
                </ng-template>
                <div class="hpanel">
                  <div class="header-top">
                    <div class="pull-left">
                      <div class="header-title">
                        <h3><img src="assets/images/certificates/certificate-image.png" style="width:50px;"> {{'add_edit_certificate' |
                          translate}}</h3>
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="header-btns-info">
                        <div class="onload-message">
                          <h4>{{'info_about_badge_select' | translate}}</h4>
                        </div>
                        <span><i class="material-icons">help_outline </i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12" *ngIf="certificateModel.is_certificate">
                  <div class="form-group">
                    <label class="control-label" for="status">
                      <h4>{{'courses' | translate}}</h4>
                    </label>
                    <div *ngIf="!emptyCourse;else norecord">
                      <div *ngFor="let course of courseslists" class="certificate-lists col-md-3 col-sm-12">
                        <div *ngIf="selectedCourseArr.indexOf(course.id) !== -1;else unchecked">
                          <div class="eng_group">
                            <div class="blockchain-main">
                              <mat-checkbox [ngModel]="true" formControlName="courses"
                                (change)="onChangeCourse(course.id, $event.checked)">
                                <div class="badge-certificate-section">
                                  <div class="blockchain-details">
                                    <img src="{{course.logo}}" class="img-responsive">
                                    <div class="block-left">
                                      <h4>{{course.title}}</h4>
                                      <h4
                                        *ngIf="course.identifier && course.identifier != null && course.identifier != '' && course.identifier != 'None'">
                                        {{course.identifier}}</h4>
                                    </div>
                                  </div>
                                </div>
                              </mat-checkbox>
                            </div>
                          </div>
                        </div>

                        <ng-template #unchecked>
                          <!-- <div class="col-md-3 col-sm-12"> -->
                          <div class="eng_group">
                            <div class="blockchain-main">
                              <mat-checkbox (change)="onChangeCourse(course.id, $event.checked)">
                                <div class="badge-certificate-section">
                                  <div class="blockchain-details">
                                    <img src="{{course.logo}}" class="img-responsive">
                                    <div class="block-left">
                                      <h4>{{course.title}}</h4>
                                      <h4
                                        *ngIf="course.identifier && course.identifier != null && course.identifier != '' && course.identifier != 'None'">
                                        {{course.identifier}}</h4>
                                    </div>
                                  </div>
                                </div>
                              </mat-checkbox>
                            </div>
                          </div>
                          <!-- </div> -->
                        </ng-template>
                      </div>
                    </div>
                    <ng-template #norecord>
                      <div class="col-sm-12">
                        <div class="alert alert-info no-records">
                          {{'no_records_found' | translate}}
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="col-sm-12" *ngIf="viewAutomatic">
                  <div class="form-group">
                    <label class="control-label" for="status">{{'related_certificate_issue' | translate}}</label>
                    <div class="">
                      <mat-radio-group formControlName="automatic" [(ngModel)]="certificateModel.automatic">
                        <mat-radio-button class="example-radio-button"
                          *ngFor="let relatedstatuslist of relatedstatuslists" [value]="relatedstatuslist.value">
                          {{relatedstatuslist.text | translate}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="alert alert-danger" *ngIf="errorMsg">
                    {{errorMsg | translate}}
                  </div>
                  <br>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <button *ngIf="process" class="btn btn-primary">{{'processing' | translate}}...</button>
                    <button *ngIf="!process" mat-button matStepperPrevious class="step-back"
                      (click)="submitted = firstFormGroup.invalid">{{'back'
                      | translate}}</button>
                    <button
                      *ngIf="( testMode && !process && certificateModel.is_active && apiService.pages.issue_certificate ) || ( !process && apiService.matrixData.remaining_wallet >= 10 && certificateModel.is_active && apiService.pages.issue_certificate )"
                      type="submit" mat-button class="btn publish green mat-button"
                      (click)="submitted = firstFormGroup.invalid; submitForm(certificateModel, true)">{{'publish'
                      | translate}}</button>
                    <button *ngIf="!process" type="submit" mat-button class="btn btn-form-save"
                      (click)="submitted = firstFormGroup.invalid; submitForm(certificateModel, false)">{{'save_button'
                        | translate}}</button>
                  </div>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
  <ngx-smart-modal #colorPickPopup identifier="colorPickPopup" [closable]='false' [escapable]='false'
    [dismissable]='false'>
    <div>
      <div class="row" style="height: 320px">
        <div class="col-md-12">
          <span [style.background]="arrayColors[selectedColor]" [cpToggle]="true" [cpDialogDisplay]="'inline'"
            (colorPickerChange)="onChangeColor($event)" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
            [cpCancelButtonClass]="'btn btn-primary btn-xs'" [cpDisableInput]="true"
            [(colorPicker)]="arrayColors[selectedColor]"></span>
        </div>

        <div class="col-md-12 multi-color">
          <div *ngIf="arrayColors['clr1']" class="color-box" (colorPickerChange)="onChangeColor($event)"
            [style.background]="arrayColors['clr1']" (click)="selectedColor='clr1'"></div>
          <div *ngIf="arrayColors['clr2']" class="color-box" (colorPickerChange)="onChangeColor($event)"
            [style.background]="arrayColors['clr2']" (click)="selectedColor='clr2'"></div>
          <div *ngIf="arrayColors['clr3']" class="color-box" (colorPickerChange)="onChangeColor($event)"
            [style.background]="arrayColors['clr3']" (click)="selectedColor='clr3'"></div>
          <div *ngIf="arrayColors['clr4']" class="color-box" (colorPickerChange)="onChangeColor($event)"
            [style.background]="arrayColors['clr4']" (click)="selectedColor='clr4'"></div>
        </div>
      </div>
      <div class="form-group color-picker-btn">
        <button *ngIf="imageCreateProcess" class="btn btn-primary">{{'processing' | translate}}...</button>
        <button *ngIf="!imageCreateProcess" type="button" mat-button class="password-submit" style="margin-right:10px"
          (click)="onColorPickImgCreate()">{{'submit' | translate}}</button>
        <button *ngIf="!imageCreateProcess" mat-button class="password-submit" (click)="colorPickPopup.close()">{{'color_pic_cancel'
          | translate}}</button>
      </div>
    </div>
  </ngx-smart-modal>
  <app-commonplanalert></app-commonplanalert>
</section>