<section class="start_wrapper">
  <div class="hpanel">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h3>{{'workflow' | translate}} <span matTooltip="{{'phi_workflow' | translate}}" class="headTooltip"><i
              class="material-icons">
              help_outline</i></span></h3>
      </div>
      <div class="pull-right">
        <div class="form-group">
          <!-- <button mat-button class="add-course-btn" *ngIf="graphLists.length > 0"
            (click)="ngxSmartModalService.setModalData(graphLists, 'treeMapGraphic');ngxSmartModalService.getModal('treeMapGraphic').open()"><i
              class="fa fa-sitemap" aria-hidden="true"></i> {{'workflow_graph' | translate}}</button> -->
          <button *ngIf="workflowid === null" id="back_to_team" mat-button class="add-course-btn"
            routerLink="/workflowlist">
            <i class="fa fa-hand-o-left fa-1x" style="font-size:20px;"></i>
            {{'back_to_workflow' | translate}}
          </button>
          <button *ngIf="workflowid !== null" id="back_to_team" mat-button class="add-course-btn"
            routerLink="/workflow/{{workflowid}}">
            <i class="fa fa-hand-o-left fa-1x" style="font-size:20px;"></i>
            {{'back_to_workflow' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="add-student-form add-team">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-success" *ngIf="successMsg">
              {{successMsg}}
            </div>
            <br>
          </div>
          <form class="form-horizontal" #workflowFormGen="ngForm" [formGroup]="teamMemberForm"
            (ngSubmit)="submitForm(teamMemberForm.value)">

            <!-- <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="name">{{'num_sub_products' | translate}} <span
                    class="mandatory">*</span></label>
                <input type="text" class="form-control" formControlName="num_sub_products"
                  placeholder="{{'num_sub_products' | translate}}" [readonly]="teamModel.isDisableField">
                <div class="text-danger text-left small" *ngIf="errorMsg">
                  {{getErrorMsg('num_sub_products') || this.errorMsgArr['num_sub_products'] | translate}}</div>
              </div>
            </div> -->

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="name">{{'workflow_id' | translate}}</label>
                <input type="text" class="form-control" formControlName="workflow_id"
                  placeholder="{{'workflow_id' | translate}}" [ngModel]="workflowname" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="role">{{'role' | translate}} <span
                    *ngIf="apiService.userType === '3' || apiService.userType === '0'" class="mandatory">*</span>
                </label>
                <input type="text" class="form-control" formControlName="custom_template" [ngModel]="workflowrole"
                  placeholder="{{'role' | translate}}" [readonly]="apiService.userType === '3' ? true : false">
                <div class="text-danger text-left small" *ngIf="errorMsg">
                  {{getErrorMsg('custom_template') || this.errorMsgArr['custom_template'] | translate}}</div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="product">{{'activitys' | translate}} {{'steps' | translate}} <span
                    class="mandatory">*</span></label>
                <input type="text" class="form-control" formControlName="product_step"
                  placeholder="{{'role' | translate}}" [ngModel]="workflowstep" readonly>
                <div class="text-danger text-left small" *ngIf="errorMsg">
                  {{getErrorMsg('product_step') || this.errorMsgArr['product_step'] | translate}}</div>
              </div>
            </div>

            <div class="arrow_part">
              <div class="form-group">
                <div formArrayName="email" class="evidence_content">
                  <div class="child-col" *ngFor="let child of teamMemberForm.controls.email['controls'];let n=index">

                    <ul class="normal-arrow">
                      <!-- <li *ngIf="parentUserList.length > 0">

                        <label class="control-label" for="name">{{'parent_email' | translate}}</label>
                        <input type="text" class="form-control evidence-input"
                          value="{{parentUserList[n].first_name}} {{parentUserList[n].last_name}} {{parentUserList[n].organization ? ' - ' + '(' + parentUserList[n].organization + ')' : ''  }}"
                          readonly />

                        <div class="arrow_right">
                          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div class="text-danger text-left small" *ngIf="errorMsg">
                          {{getErrorMsg('parent_email') || this.errorMsgArr['parent_email'] | translate}}</div>

                      </li> -->

                      <li>

                        <div formGroupName="{{n}}" class="form-group">
                          <label class="control-label badge-id" for="barcode">{{'select_members' | translate}}
                            <span class="mandatory">*</span>
                          </label>
                          <!-- [ngClass]="teamModel.isDisableField ? 'disabledSelect' : ''" -->
                          <ng-select formControlName="mail"
                            placeholder="{{'select' | translate}} 
                          {{'member' | translate}}" [searchFn]="customSearchFn" [clearable]='false'
                            [selectOnTab]='true' [addTag]="false" [items]="wfuserlists" [multiple]="true"
                            bindLabel="email" bindValue="id">
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                              {{item.first_name}} {{item.last_name}}
                              {{item.organization ? ' - (' + item.organization + ')' : ''}}
                              <span class="ng-value-icon right" (click)="clear(item); $event.stopPropagation()"
                                aria-hidden="true">×</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                              {{item.first_name}} {{item.last_name}}
                              {{item.organization ? ' - (' + item.organization + ')' : ''}}
                            </ng-template>
                          </ng-select>
                        </div>
                      </li>
                    </ul>


                  </div>
                </div>
                <div class="text-danger text-left small" *ngIf="errorMsg">
                  {{getErrorMsg('email') || errorMsgArr['email'] | translate}}</div>
              </div>
            </div>




            <div class="create_form">
              <div class="col-sm-12">
                <div class="create_header">
                  <div class="pull-left">
                    <h4 class="create-title">{{'create_form_fields' | translate}}</h4> <span *ngIf="disfield"
                      class="access_notify_label">*{{'enter_all_fields' | translate}}</span>
                    <span *ngIf="disprimaryfield"
                      class="access_notify_label">*{{'more_then_2_primary_field_not_allowed' | translate}}</span>
                    <span *ngIf="disOutBoxError"
                      class="access_notify_label">*{{'more_then_2_out_box_field_not_allowed' | translate}}</span>
                  </div>
                  <div class="pull-right"><a href="javascript://" mat-button class="add_fields"
                      (click)="addFields()">{{'add_form_fields' | translate}} <i class="material-icons">add_circle</i>
                    </a> </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div formArrayName="field_set" class="evidence_content">
                    <div *ngFor="let child of teamMemberForm.controls.field_set['controls']; let i = index"
                      class="evidence-field">
                      <div formGroupName="{{i}}">
                        <div class="form-group border">
                          <div class="row">

                            <ul class="dynamic-block-list">
                              <li>
                                <div class="form-group">
                                  <input *ngIf="fieldData.length > 0 && i < fieldData.length && i < allcount"
                                    style="width:100%" type="text" formControlName="label"
                                    class="form-control evidence-input" placeholder="{{'label' | translate}} *"
                                    value="{{fieldData[i].label}}" />
                                  <input *ngIf="fieldData.length == 0 || i >= fieldData.length || i >= allcount"
                                    style="width:100%" type="text" formControlName="label"
                                    class="form-control evidence-input" value=""
                                    placeholder="{{'label' | translate}} *" />
                                </div>
                              </li>

                              <li>
                                <div class="form-group">
                                  <input *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length"
                                    style="width:100%" type="text" formControlName="placeholder"
                                    class="form-control evidence-input" placeholder="{{'placeholder' | translate}} *"
                                    value="{{fieldData[i].placeholder}}" />
                                  <input *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                    style="width:100%" type="text" formControlName="placeholder"
                                    class="form-control evidence-input" placeholder="{{'placeholder' | translate}} *"
                                    value="{{teamMemberForm.controls['field_set'].value[i]['label']}}" />
                                </div>
                              </li>
                              <li>
                                <div class="form-group">
                                  <div *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length"
                                    class="checkbox-main-text">
                                    <div id="fieldlabel{{i}}" class="form-checkbox">
                                      <span>{{fieldData[i].type}}</span>
                                      <span (click)="displayTypeField(i)"><i class="material-icons">
                                          edit
                                        </i></span>
                                      <input type="hidden" formControlName="type" value="{{fieldData[i].type}}">
                                    </div>
                                  </div>

                                  <div id="fieldDisplay{{i}}"
                                    [style.display]="fieldData.length == 0 || i >= allcount || i >= fieldData.length ? 'block': 'none'"
                                    class="drop-icon">
                                    <select #getSelectedVal class="form-control" [ngModel]="fieldData[i]?.type"
                                      formControlName="type" (change)="addOptions(i, getSelectedVal.value)">
                                      <option [value]="null" [selected]="!fieldData[i]?.type ? true : false"
                                        [disabled]="true">
                                        {{'select_type' | translate}} *</option>
                                      <option *ngFor="let type of typeLists" value={{type}}
                                        [selected]="type == fieldData[i]?.type">{{type | translate}}</option>
                                    </select>
                                    <span *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'dropdown'">
                                      <button type="button" mat-mini-fab class="list-icon"
                                        *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'dropdown'"
                                        (click)="addOptions(i, 'dropdown')"><i class="material-icons">list</i></button>
                                    </span>
                                  </div>
                                </div>
                              </li>

                              <!-- <li *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'document'">
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].is_description"
                                        formControlName="is_description">
                                        {{'display_to_description' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="is_description">
                                      {{'display_to_description' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li> -->

                              <li class="select-type-one"
                                *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'date' || teamMemberForm.controls['field_set']?.value[i]?.type === 'timestamp'">
                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <div class="drop-icon">
                                      <select *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'date'"
                                        class="form-control" formControlName="enable_furture">
                                        <option [value]="null" [selected]="!fieldData[i]?.enable_furture ? true : false"
                                          [disabled]="true">
                                          {{'select_type' | translate}}</option>
                                        <option *ngFor="let type of dateTypes" value={{type.index}}
                                          [selected]="type.index == fieldData[i]?.enable_furture">
                                          {{type.val | translate}}
                                        </option>
                                      </select>
                                      <select
                                        *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'timestamp'"
                                        class="form-control" formControlName="enable_furture">
                                        <option [value]="null" [selected]="!fieldData[i]?.enable_furture ? true : false"
                                          [disabled]="true">
                                          {{'select_type' | translate}}</option>
                                        <option *ngFor="let type of dateTypesTimeStamp" value={{type.index}}
                                          [selected]="type.index == fieldData[i]?.enable_furture">
                                          {{type.val | translate}}
                                        </option>
                                      </select>
                                      <select *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'date'"
                                        class="form-control" formControlName="dateformat">
                                        <option [value]="null" [selected]="!fieldData[i]?.dateformat ? true : false"
                                          [disabled]="true">
                                          {{'select_date_format' | translate}}</option>
                                        <option *ngFor="let type of dateFormats" value={{type.index}}
                                          [selected]="type.index == fieldData[i]?.dateformat">
                                          {{type.val | translate}}
                                        </option>
                                      </select>
                                      <select
                                        *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'timestamp'"
                                        class="form-control" formControlName="dateformat">
                                        <option [value]="null" [selected]="!fieldData[i]?.dateformat ? true : false"
                                          [disabled]="true">
                                          {{'select_date_format' | translate}}</option>
                                        <option *ngFor="let type of timestampFormats" value={{type.index}}
                                          [selected]="type.index == fieldData[i]?.dateformat">
                                          {{type.val | translate}}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].required" formControlName="required">
                                        {{'required' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="required">{{'required' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>

                              <li *ngIf="workflowstep == 1 || teamModel.product_step == 1">
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].primary" formControlName="primary">
                                        {{'primary' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="primary">{{'primary' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>

                              <li *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'location'">
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].automatic" formControlName="automatic">
                                        {{'automatic' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="automatic">{{'automatic' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>
                              <li
                                *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'location' && teamMemberForm.controls['field_set']?.value[i]?.automatic">
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].is_lock_it" formControlName="is_lock_it">
                                        {{'is_lock_it' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="is_lock_it">{{'is_lock_it' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>

                              <li *ngIf="teamMemberForm.controls['field_set']?.value[i]?.type === 'location'">
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].is_map_it" formControlName="is_map_it">
                                        {{'map_it' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="is_map_it">{{'map_it' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>

                              <li>
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].save" formControlName="save">
                                        {{'save_key' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="save">{{'save_key' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>

                              <li>
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].in_box" formControlName="in_box">
                                        {{'in_box' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="in_box">{{'in_box' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>

                              <li>
                                <div class="show-list"
                                  *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length">
                                  <div class="form-group">
                                    <div class="form-checkbox">
                                      <mat-checkbox [checked]="fieldData[i].out_box" formControlName="out_box">
                                        {{'out_box' | translate}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="form-checkbox">
                                    <mat-checkbox
                                      *ngIf="fieldData.length == 0 || i >= allcount || i >= fieldData.length"
                                      [checked]="false" formControlName="out_box">{{'out_box' | translate}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </li>


                              <li>
                                <a *ngIf="fieldData.length > 0 && i < allcount && i < fieldData.length"
                                  class="evidence-delete" (click)="removeFieldSet(i,2)">
                                  <i class="material-icons">delete</i>
                                </a>
                                <a *ngIf="(fieldData.length == 0 || i >= allcount || i >= fieldData.length) && i != 0"
                                  class="evidence-delete" (click)="removeFieldSet(i)">
                                  <i class="material-icons">delete</i>
                                </a>



                                <div *ngIf="teamMemberForm.controls['field_set'].value.length > 1">
                                  <div
                                    *ngFor="let optionVal of teamMemberForm.controls['field_set'].value[index]?.options; let j = index"
                                    class="evidence-field">
                                    <span>{{optionVal}}</span>
                                    <a class="evidence-delete" (click)="removeOptions(index,j)">
                                      <i class="material-icons">delete</i>
                                    </a>
                                  </div>
                                </div>

                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group checkbox_group">
                <div class="check-box">
                  <mat-checkbox formControlName="is_final_step">
                    {{'final_step' | translate}}</mat-checkbox><span class="headTooltip"
                    matTooltip="{{'final_step_note' | translate}}"><i class="material-icons">help_outline</i></span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group checkbox_group">
                <p>
                </p>

                <div class="check-box">
                  <mat-checkbox formControlName="show_role">
                    {{'show_role' | translate}}</mat-checkbox>
                  <span class="headTooltip" matTooltip="{{'show_role_content_info' | translate}}"><i
                      class="material-icons">help_outline</i></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <div class="form-group checkbox_group">
                    <div class="check-box">
                      <mat-checkbox formControlName="graphic_show_role">
                        {{'graphic_show_role' | translate}}</mat-checkbox>
                      <span class="headTooltip" matTooltip="{{'graphic_show_role_content_info' | translate}}"><i
                          class="material-icons">help_outline</i></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="!teamMemberForm.controls['is_final_step'].value">
                  <div class="form-group checkbox_group">
                    <div class="check-box">
                      <mat-checkbox formControlName="show_product">
                        {{'show_product' | translate}}</mat-checkbox>
                      <span class="headTooltip" matTooltip="{{'show_product_info' | translate}}"><i
                          class="material-icons">help_outline</i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="show_transaction_checkbox">
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <div class="form-group checkbox_group">
                    <div class="check-box">
                      <mat-checkbox formControlName="show_transaction">
                        {{'transaction_details' | translate}}</mat-checkbox>
                      <span class="headTooltip" matTooltip="{{'transaction_details_info' | translate}}"><i
                          class="material-icons">help_outline</i></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group checkbox_group">
                    <div class="check-box">
                      <mat-checkbox formControlName="show_inoutbatch">
                        {{'inbatch_outbatch_details' | translate}}</mat-checkbox>
                      <span class="headTooltip" matTooltip="{{'inbatch_outbatch_details_info' | translate}}"><i
                          class="material-icons">help_outline</i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="name">{{'box_title' | translate}}</label>
                  <input class="form-control" formControlName="box_title" type="text" placeholder="{{'box_title' | translate}}">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="name">{{'Select_date_display_place' | translate}}</label>
                  <div class="drop-icon select_data_display">
                    <select class="form-control" formControlName="datetimeplace">
                      <option *ngFor="let type of dateDisplayPlaceListFormats" value={{type.index}}>
                        {{type.val | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <h4>{{'description' | translate}} </h4>
                  <div class="angular-editor">
                    <angular-editor [placeholder]="'Insert text here...'" [config]="editorConfig"
                      [style]="{height: '100px'}" formControlName="step_content"
                      [(ngModel)]="teamModel.step_content">
                    </angular-editor>
                  </div>
                </div>
              </div>
            </div>



            <!-- <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label" for="status">{{'status' | translate}}</label>
                <div class="">
                  <mat-radio-group [(ngModel)]="teamModel.is_active" formControlName="is_active">
                    <mat-radio-button class="example-radio-button" *ngFor="let statuslist of statuslists"
                      [value]="statuslist.value">
                      {{statuslist.text | translate}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div> -->

            <div *ngIf="workflowstep != 1"
              class="reviewer-layout reviewer-layout-new work-low-one col-lg-12 col-md-12 col-sm-12">
              <div class="specific-steps-header">
                <h5>{{'configure_mail_notification_fields' | translate}}<span
                    matTooltip="{{'configures_mail_notification_field_info' | translate}}" class="headTooltip"><i
                      class="material-icons">
                      help_outline</i></span></h5>
              </div>

              <div class="scroll-block">
                <div class="row specific-steps-header">
                  <div class="col-lg-4 col-md-4 col-sm-4 specific-header">
                    <h5>{{'steps' | translate}}</h5>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 specific-header">
                    <h5>{{'fields' | translate}}</h5>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 specific-header">
                    <h5>{{'selected_fields' | translate}}</h5>
                  </div>
                </div>
                <div class="row specific-steps">
                  <div class="col-lg-4 col-md-4 col-sm-4 reviewer-layout-block">
                    <ul id="workflowScroll" slimScroll [options]="options">
                      <li *ngFor="let stepData of allSteps" class="wfClassAddLi" id="{{stepData.id}}"
                        (click)="selectStep(stepData.id)"><span>step-{{stepData.step}}</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 reviewer-layout-block">
                    <ul id="memberScroll" slimScroll [options]="options">
                      <li *ngFor="let fieldDetails of sltStepFieldList" class="stepClassAddLi"
                        id="{{fieldDetails.field_id}}" (click)="selectField(fieldDetails.field_id)">
                        <span>{{fieldDetails.field_name}} - {{fieldDetails.step}}</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 reviewer-layout-block">
                    <ul id="selMemberScroll" slimScroll [options]="options">
                      <li *ngFor="let field of selectFieldDetailsList"><span *ngIf="field?.field_name && field?.field_name != ''">{{field?.field_name}} - {{field?.step}}<span
                        (click)="deleteField(field.field_id)"><span class="material-icons member-delete-icon">
                          delete
                        </span></span></span></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-sm-12">
              <div class="alert alert-danger" *ngIf="errorMsg">
                {{errorMsg | translate}}
              </div>
              <br>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <button type="button" *ngIf="isPrev" (click)="onPreviousStep(resParentdata.previouw_step_content)"
                  mat-button class="step-btn"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  {{'previous_step' | translate}}</button>
                <button *ngIf="process" class="btn btn-primary">{{'processing' | translate}}...</button>
                <button type="button" *ngIf="!process" mat-button (click)="onlySave()"
                  class="btn btn-form-save">{{'save_button' | translate}}</button>
                <button type="button" *ngIf="isNext" (click)="onNextStep(resParentdata.next_step_content)" mat-button
                  class="step-btn"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  {{'next_step' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<ngx-smart-modal #myModal identifier="myModal" [closable]='false' [escapable]='false' [dismissable]='false'
  (onAnyCloseEvent)="ngxSmartModalService.resetModalData('myModal')">

  <div class="add-select-title">
    <h4>{{'add_select_drop_down' | translate}}</h4>
  </div>

  <div class="add-select-field">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <input type="text" class="form-control" #optionval placeholder="{{'enter_option' | translate}}"
          (keyup.enter)="addOptionsValues(myModal.getData().selectedIndex, optionval.value)">
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="add-opt">
          <a (click)="addOptionsValues(myModal.getData().selectedIndex, optionval.value)" mat-button
            href="javascript://" mat-button class="add_role">
            {{'add_options' | translate}} <i class="material-icons">add_circle</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="teamMemberForm.controls['field_set'].value.length > 0" class="add-custom-section">
    <div
      *ngFor="let optionVal of teamMemberForm.controls['field_set']?.value[myModal.getData()?.selectedIndex]?.options; let j = index"
      class="evidence-field">

      <ul class="optional-list">
        <li><span>{{optionVal.key}}</span></li>

        <li>
          <a class="evidence-delete add-options" (click)="removeOptions(myModal.getData().selectedIndex, j)">
            <i class="material-icons">delete</i>
          </a>
        </li>
      </ul>

    </div>
  </div>

  <div class="dropdown-ok">
    <button type="button" mat-button class="add-custom-ok"
      (click)="ngxSmartModalService.getModal('myModal').close();">{{'ok' | translate}}</button>
  </div>
</ngx-smart-modal>



<div class="acheivement-popup detailModelBox">
  <ngx-smart-modal #showRole identifier="showRole" class="showRole">
    <div class="info-tooltip"><a (click)="ngxSmartModalService.getModal('tooltipShow').open()"><i
          class="material-icons"> info </i></a></div>

    <div class="tool-image">
      <img src="assets/images/activity-template.png" class="img-responsive">
    </div>
  </ngx-smart-modal>
</div>

<div class="acheivement-popup detailModelBox">
  <ngx-smart-modal #graphicShow identifier="graphicShow" class="graphicShow">
    <div class="info-tooltip"><a (click)="ngxSmartModalService.getModal('tooltipGraphic').open()"><i
          class="material-icons"> info </i></a></div>

    <div class="tool-image">
      <img src="assets/images/step-UI.png" class="img-responsive">
    </div>
  </ngx-smart-modal>
</div>

<ngx-smart-modal #treeMapGraphic identifier="treeMapGraphic" class="tooltipGraphic">
  <div class="col-md-12 col-sm-12" *ngIf="treeMapGraphic.hasData()">

    <div class="graph-title">
      <h3>{{'graphical_chart' | translate}}</h3>
    </div>

    <div class="table-responsive">
      <div class="graph-block">

        <!-- graphical tree start -->
        <ul class="graphical_tree">
          <li>
            <ng-template #Item let-item>
              <ng-container *ngIf="!item.items.length; else Component">
                <span class="july">
                  <div class="box-name">
                    <h6>{{ item.role }}</h6>
                    <h6>{{ item.first_name }} {{ item.last_name }}</h6>
                  </div>

                  <label></label>
                </span>
                <ng-container *ngFor="let row of item.qc">
                  <span class="qc-main">
                    <div class="qc-sub july">
                      <div class="box-name">
                        <h6>{{ row.role }}</h6>
                        <h6>{{ row.first_name }} {{ row.last_name }}</h6>
                      </div>

                      <label></label>
                    </div>
                  </span>
                </ng-container>
              </ng-container>
              <ng-template #Component>
                <span class="july break-graph">
                  <div class="box-name">
                    <h6>{{ item.role }}</h6>
                    <h6>{{ item.first_name }} {{ item.last_name }}</h6>
                  </div>
                  <label></label>
                </span>
                <ng-container *ngFor="let row of item.qc">
                  <span class="qc-main">
                    <div class="qc-sub july">
                      <div class="box-name">
                        <h6>{{ row.role }}</h6>
                        <h6>{{ row.first_name }} {{ row.last_name }}</h6>
                      </div>

                      <label></label>
                    </div>
                  </span>
                </ng-container>
                <ul>
                  <ng-container *ngFor="let child of item.items; let i = index">
                    <ng-container *ngIf="i == 0">
                      <li class="firstLi" *ngIf="child.depth != 0;">
                        <ng-container *ngTemplateOutlet="Item; context: { $implicit: child }"></ng-container>
                      </li>
                    </ng-container>

                    <ng-container *ngIf="i != 0">
                      <li class="firstLi secound secoundLi" *ngIf="child.depth != 0;">
                        <ng-container *ngTemplateOutlet="Item; context: { $implicit: child }"></ng-container>
                      </li>
                    </ng-container>
                  </ng-container>
                </ul>
              </ng-template>
            </ng-template>

            <ng-container *ngFor="let child of treeMapGraphic.getData() | converter">
              <ng-container *ngTemplateOutlet="Item; context: { $implicit: child }"></ng-container>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #tooltipShow identifier="tooltipShow" class="tooltipShow">
  <h4>{{'mobileview_center_layout_head' | translate}}</h4>
  <p>{{'mobileview_center_layout_info' | translate}}</p>
</ngx-smart-modal>
