form ~ div.listData {width:100%;display:inline-block;}
form ~ div.listData h4{font-size:16px;padding:5px;text-align:center;text-transform: capitalize}
form ~ div.listData ul{display:block;padding-left: 0;width: 50%;margin:0 auto}
form ~ div.listData{width:100%;display:inline-block}
form ~ div.listData ul li{display: block;padding-left:0;padding:5px;font-size:16px;}
form ~ div.listData ul li table tr td:first-child {min-width:170px}
form ~ div.listData ul li table tr td:nth-child(2){padding:0 5px}
form ~ div.listData ul li table tr td{vertical-align: top;}
form ~ div.listData ul li:nth-child(odd){background-color:#ececec;}
form ~ div.listData ul li:nth-child(even){background-color:#f5f5f5;}
.alert-message{color:#F44336}
.alert-message i{font-size:16px;position:relative;top:1px;padding-right:5px}


:host /deep/ .ql-toolbar.ql-snow button.ql-bold,
:host /deep/ .ql-toolbar.ql-snow button.ql-italic{display:block}

:host /deep/ .ql-toolbar.ql-snow button.ql-underline,:host /deep/ .ql-toolbar.ql-snow button.ql-strike,:host /deep/ .ql-toolbar.ql-snow button.ql-link{display:none}

:host /deep/ .ql-toolbar.ql-snow .ql-formats:first-child,
:host /deep/ .ql-toolbar.ql-snow .ql-formats:last-child,:host /deep/ .ql-toolbar.ql-snow .ql-formats:nth-child(13),:host /deep/ .ql-toolbar.ql-snow .ql-formats:nth-last-child(2) {display:inline-block;}

:host /deep/ .ql-toolbar.ql-snow .ql-formats,
:host /deep/ .ql-snow .ql-toolbar button.ql-link{
   display: none;
}

:host /deep/ span.ql-placeholder.ql-picker, :host /deep/ span.ql-placeholder.ql-picker.ql-expanded {
   width: 180px;
   background-color: #1e232b;
   height: 30px;
   padding: 4px;
   border-radius: 2px;
   margin: 10px 5px;
}

:host /deep/ span.ql-placeholder.ql-picker span.ql-picker-label.ql-active {
   color: #fff;
}


:host /deep/ .ql-snow .ql-placeholder.ql-picker.ql-expanded .ql-picker-label .ql-stroke,
:host /deep/ .ql-snow.ql-toolbar .ql-placeholder .ql-picker-label.ql-active .ql-stroke {
   stroke: #fff;
}
.btn.btn-form-save.mat-button{margin-top:20px}

.facebook h3{background:#4267b2;display:inline-block;color:#fff;font-size:16px;padding:10px 20px;margin-bottom:10px}
.twitter h3{background:#00acee;display:inline-block;color:#fff;font-size:16px;padding:10px 20px;margin-bottom:10px}
.linkedin h3{background:#006fa6;display:inline-block;color:#fff;font-size:16px;padding:10px 20px;margin-bottom:10px}
.whatsapp h3{background:#28b72e;display:inline-block;color:#fff;font-size:16px;padding:10px 20px;margin-bottom:10px}
.email_share h3{background:#eb4549;display:inline-block;color:#fff;font-size:16px;padding:10px 20px;margin-bottom:10px}
.canned-messgae label{text-transform: capitalize}

:host /deep/ .hidebasictools .angular-editor-toolbar .angular-editor-toolbar-set{border:none!important}
:host /deep/ .hidebasictools .angular-editor-button[title="Undo"],
:host /deep/ .hidebasictools .angular-editor-button[title="Redo"],
:host /deep/ .hidebasictools .angular-editor-button[title="Underline"],
:host /deep/ .hidebasictools .angular-editor-button[title="Strikethrough"],
:host /deep/ .hidebasictools .angular-editor-button[title="Subscript"],
:host /deep/ .hidebasictools .angular-editor-button[title="Superscript"],
:host /deep/ .hidebasictools .angular-editor-button[title="Indent"],
:host /deep/ .hidebasictools .angular-editor-button[title="Outdent"],
:host /deep/ .hidebasictools .angular-editor-button[title="Unordered List"],
:host /deep/ .hidebasictools .angular-editor-button[title="Ordered List"],
:host /deep/ .hidebasictools .select-heading,
:host /deep/ .hidebasictools .select-font,
:host /deep/ .hidebasictools .select-font-size,
:host /deep/ .hidebasictools .angular-editor-button[title="Insert Link"],
:host /deep/ .hidebasictools .angular-editor-button[title="Unlink"],
:host /deep/ .hidebasictools .angular-editor-button[title="Clear Formatting"],
:host /deep/ .hidebasictools .angular-editor-button[title="HTML Code"],
:host /deep/ .hidebasictools .angular-editor-button[title="Insert Image"],
:host /deep/ .hidebasictools .angular-editor-button[title="Insert Video"],
:host /deep/ .hidebasictools .angular-editor-button[title="Horizontal Line"],
:host /deep/ .hidebasictools .angular-editor-button[title="Justify Left"],
:host /deep/ .hidebasictools .angular-editor-button[title="Justify Right"],
:host /deep/ .hidebasictools .angular-editor-button[title="Justify Center"],
:host /deep/ .hidebasictools .angular-editor-button[title="Justify Full"],
:host /deep/ .hidebasictools .angular-editor-button[title="Text Color"],
:host /deep/ .hidebasictools .angular-editor-button[title="Background Color"] {
   display: none !important;
}

@media(max-width:767px)
{
form ~ div.listData ul{width:650px}
form ~ div.listData ul li table tr td:first-child {min-width:170px;width:170px;max-width:170px}
form ~ div.listData ul li table{width:650px;max-width:650px;}
}
