<section class="start_wrapper student-list">
  <div class="hpanel">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h3>{{'workflow' | translate}} <span matTooltip="{{'phi_team_mem_list' | translate}}" class="headTooltip"><i
              class="material-icons">
              help_outline</i></span>
        </h3>
      </div>

      <div class="pull-right">
        <button *ngIf="loginuserType != '0'" id="add_team_member" mat-button routerLink="/workflow">
          <i class="fa fa-user-plus"></i>
          {{'add_workflow' | translate}}</button>
      </div>
    </div>

    <div class="panel-heading clearfix filter-search-box"
      *ngIf="loginuserType === '3' || loginuserType === '0' || apiService.pages.admin_prv">
      <fieldset class="scheduler-border">
        <form [formGroup]="searchForm" (ngSubmit)="searchFormSubmit(searchForm.value);">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'workflow_id' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="workflow_id">
            </mat-form-field>
          </div>

          <div class="col-lg-2 col-md-3 col-sm-12">
            <mat-checkbox class="inactivate" formControlName="inactive">
              <span> {{'include_inactive' | translate}} </span>
            </mat-checkbox>
          </div>

          <div class="col-lg-2 col-md-3 col-sm-12">
            <mat-checkbox class="inactivate" formControlName="test">
              <span> {{'test_workflow' | translate}} </span>
            </mat-checkbox>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="activity">
              <button type="submit" class="filter-btn search" mat-button
                [disabled]="process">{{'search' | translate}}</button>
              <button type="reset" [disabled]="process" class="filter-btn reset" mat-button
                (click)="resetSearchForm()">{{'reset' | translate}}</button>
            </div>
          </div>
        </form>
      </fieldset>
    </div>

    <div class="panel-body">
      <div class="box-container">
        <div class="spinner-container">
          <mat-spinner *ngIf="process"></mat-spinner>
        </div>
        <div class="col-sm-12">
          <div class="alert alert-info" *ngIf="subPublisherListCount === 0">
            {{'no_records_found' | translate}}
          </div>
        </div>
        <div *ngIf="subPublisherListCount && subPublisherListCount !== 0">
          <div class="search-results-stud scroll-window" slimScroll
            (scrollChanged)="scrollChanged($event, searchForm.value)" [options]="options" infiniteScroll
            [infiniteScrollDistance]="workflow_scrollDistance" [infiniteScrollThrottle]="workflow_throttle"
            [scrollWindow]="false" (scrolled)="onScrollDownWorkflow(searchForm.value, true)">

            <div class="col-md-12 col-sm-12 content-height">
              <div class="col-md-3 col-sm-6 col-xs-12 box-block" *ngFor="let workflowDetail of subPublisherList">

                <div class="sub-box">

                  <div *ngIf="workflowDetail.test_mode" class="corner-ribbon top-left sticky">
                    <span>{{'test' | translate}}</span>
                  </div>

                  <div class="inactive_section" *ngIf="!workflowDetail.active">
                    <span class="inactive_icon"><i class="fa fa-ban"></i> Inactive </span>
                  </div>

                  <div *ngIf="loginuserType != '0'" class="side-btn">
                    <button mat-button class="menu-icon" [matMenuTriggerFor]="menu">
                      <i class="material-icons">more_horiz</i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button id="{{workflowDetail.workflow_db_id}}"
                        *ngIf="workflowDetail.final_step && workflowDetail.send_mail_but && workflowDetail.active"
                        mat-menu-item (click)="getCompanyAdminFirstStep(workflowDetail.workflow_db_id);">
                        <i class="material-icons" style="font-size:18px;">send</i> {{'start' | translate}}
                      </button>

                      <button id="{{workflowDetail.workflow_db_id}}"
                        *ngIf="workflowDetail.final_step && !workflowDetail.send_mail_but && workflowDetail.active"
                        mat-menu-item (click)="getCompanyAdminFirstStep(workflowDetail.workflow_db_id);">
                        <i class="material-icons" style="font-size:18px;">send</i> {{'resend' | translate}}
                      </button>

                      <button *ngIf="!workflowDetail.test_mode" mat-menu-item
                        (click)="testModeChanges(workflowDetail, 'test')">
                        <i class="material-icons"
                          style="font-size:23px;position:relative;top:5px">playlist_add_check</i>
                        {{'test_mode' | translate}}
                      </button>

                      <button *ngIf="workflowDetail.test_mode" mat-menu-item (click)="testModeChanges(workflowDetail)">
                        <i class="material-icons"
                          style="font-size:23px;position:relative;top:5px">playlist_add_check</i>
                        {{'make_production' | translate}}
                      </button>

                      <button *ngIf="workflowDetail.active" mat-menu-item
                        routerLink="/workflow/{{workflowDetail.workflow_db_id}}">
                        <i class="fa fa-pencil-square-o" style="font-size:18px;"></i> {{'edit' | translate}}
                      </button>

                      <button *ngIf="!workflowDetail.haveworkflow" mat-menu-item
                        (click)="ngxSmartModalService.setModalData(workflowDetail.workflow_db_id, 'deleteModal', true);ngxSmartModalService.getModal('deleteModal').open();">
                        <i class="fa fa-trash-o" style="font-size:18px;"></i> {{'delete' | translate}}
                      </button>

                      <button *ngIf="!workflowDetail.active" mat-menu-item
                        (click)="ngxSmartModalService.setModalData(workflowDetail.workflow_db_id, 'activeModal', true);ngxSmartModalService.getModal('activeModal').open();">
                        <i class="fa fa-check-circle" style="font-size:18px;"></i> {{'activate' | translate}}
                      </button>

                      <button *ngIf="workflowDetail.active" mat-menu-item
                        (click)="ngxSmartModalService.setModalData(workflowDetail.workflow_db_id, 'inactiveModal', true);ngxSmartModalService.getModal('inactiveModal').open();">
                        <i class="fa fa-ban" style="font-size:18px;"></i> {{'inactivate' | translate}}
                      </button>

                      <button mat-menu-item
                        (click)="ngxSmartModalService.setModalData(workflowDetail.workflow_db_id, 'cloneModal', true);ngxSmartModalService.getModal('cloneModal').open();">
                        <i class="fa fa-clone" style="font-size:18px;"></i> {{'clone' | translate}}
                      </button>
                    </mat-menu>
                  </div>
                  <div class="box-details">
                    <img
                      [src]="workflowDetail.image && workflowDetail.image != '' ? workflowDetail.image : 'assets/images/no-image.png'" />
                    <h3>{{workflowDetail.workflow_id}}</h3>
                    <ul class="member-list">
                      <li>
                        <p>{{'steps' | translate}}</p>
                        <h2>{{workflowDetail.step_count}}</h2>
                      </li>
                      <li>
                        <p>{{'users' | translate}}</p>
                        <h2>{{workflowDetail.user_count}}</h2>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-smart-modal #myModal identifier="myModal" (onAnyCloseEvent)="ngxSmartModalService.resetModalData('myModal')">
    <div>
      <form [formGroup]="reasonForm" #resetFormID="ngForm" (ngSubmit)="reasonFormSubmit(reasonForm.value)">
        <fieldset>
          <legend>{{'confirm_delete' | translate}}</legend>
          <div class="password-enter delete-container">
            <h5>{{'are_you_sure' | translate}}?</h5>
            <br>

            <div *ngIf="loginuserType !== '3'" class="row">
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-select formControlName="reason_type" placeholder="{{'pls_select_reason_type' | translate}}">
                    <mat-option (click)="getReasonType(1)" value='1'>{{'misspelling' | translate}}</mat-option>
                    <mat-option (click)="getReasonType(2)" value='2'>{{'issued_by_mistake' | translate}}</mat-option>
                    <mat-option (click)="getReasonType(3)" value='3'>{{'sanction' | translate}}</mat-option>
                    <mat-option (click)="getReasonType(4)" value='4'>{{'test' | translate}}</mat-option>
                    <mat-option (click)="getReasonType(5)" value='5'>{{'other' | translate}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="text-danger text-left small" *ngIf="reasonErrorMsg">
                  {{getreasonErrorMsg('reason_type') | translate}}</div>
              </div>

              <div *ngIf="hideOtherField" class="col-sm-6 delete-input">
                <mat-form-field appearance="outline">
                  <input #otherTxt formControlName="reason" matInput class="form-control">
                </mat-form-field>
                <div class="text-danger text-left small" *ngIf="reasonErrorMsg">
                  {{getreasonErrorMsg('reason') | translate}}</div>
              </div>
            </div>

          </div>
        </fieldset>
        <div class="form-group" style="float: right">
          <button type="submit" [disabled]="checkSubmit" mat-button class="password-submit"
            style="margin-right:10px">{{'yes' | translate}}</button>
          <button type="button" mat-button class="password-submit"
            (click)="myModal.close()">{{'no' | translate}}</button>
        </div>
      </form>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #mailsendfirstuser identifier="mailsendfirstuser"
    (onAnyCloseEvent)="ngxSmartModalService.resetModalData('mailsendfirstuser')">
    <div class="graphic-container">
      <div class="graph-title">
        <h3>{{'mail_send_to_first_user' | translate}}</h3>
      </div>
      <div *ngIf="firstStepUserList.members?.length > 0">
        {{'mail_send_to_first_info' | translate}}
      </div>
      <form [formGroup]="firstStepMailForm" (ngSubmit)="firstStepUserSubmit(firstStepMailForm.value)">
        <div class="col-sm-6" *ngIf="firstStepUserList.members?.length > 0">
          <ng-select #selectDropdown (change)="setIdontknowValues($event)" formControlName="selected_member_id" placeholder="{{'select' | translate}} 
          {{'member' | translate}}" [searchFn]="customSearchFn" [clearable]='false' [selectOnTab]='true'
            [addTag]="false" [items]="mailsendfirstuser.getData()?.userlist" [multiple]="true" bindLabel="email" bindValue="user_id" groupBy="company_admin_name">
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              {{item.first_name}} {{item.last_name}}
              <span class="ng-value-icon right" (click)="clear(item); $event.stopPropagation()"
                aria-hidden="true">×</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{item.first_name}} {{item.last_name}}
            </ng-template>
          </ng-select>
          <div class="text-danger text-left small" *ngIf="firstUserMailErrorMsg">
            {{getfirstUserMailErrorMsg('selected_member_id') | translate}}</div>
        </div>
        <div class="col-sm-6" *ngIf="firstStepUserList.members?.length > 0">
          <mat-checkbox class="inactivate" formControlName="i_dont_know" (change)="checkIDontKnow($event.checked);">
            <span> {{'i_dont_know' | translate}} </span>
          </mat-checkbox>
          <input [hidden]="true" matInput formControlName="workflow_id" value="mailsendfirstuser.getData()?.workflow_db_id">
        </div>

        <div *ngIf="firstStepUserList.members?.length <= 0"> 
          {{'credential_will_send_to_company_admin_mail' | translate}}
        </div>        

        <div class="form-group button-block">
          <button type="submit" mat-button class="password-submit"
            style="margin-right:10px">{{'send_key' | translate}}</button>
          <button type="button" mat-button class="password-submit"
            (click)="mailsendfirstuser.close()">{{'close' | translate}}</button>
        </div>
      </form>
    </div>
  </ngx-smart-modal>





  <ngx-smart-modal #graphChart identifier="graphChart" class="graphchart">
    <div class="graphic-container">
      <div class="graph-title">
        <h3>Graphical Chart</h3>
      </div>
      <ul class="graphical_tree">
        <li>
          <span>
            <span>
              <img src="https://sample-videos.com/img/Sample-jpg-image-500kb.jpg"> Williams
            </span>
          </span>
          <ul>
            <li>
              <span></span>
            </li>
            <li>
              <span></span>
              <ul>
                <li>
                  <span></span>
                </li>
                <li>
                  <span></span>
                </li>
                <li>
                  <span></span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </ngx-smart-modal>
  <ngx-smart-modal #deleteModal identifier="deleteModal"
    (onAnyCloseEvent)="ngxSmartModalService.resetModalData('deleteModal')">
    <div *ngIf="deleteModal.hasData()">
      <fieldset>
        <legend>{{'confirm_delete' | translate}}</legend>
        <div class="password-enter">
          <h5>{{'are_you_sure_you_want_delete_this_workflow' | translate}}? </h5>
          <br>

        </div>
      </fieldset>
      <div class="form-group" style="float: right">
        <button mat-button class="password-submit" style="margin-right:10px"
          (click)="deleteWorkFlow(deleteModal.getData())">{{'yes' | translate}}</button>
        <button mat-button class="password-submit" (click)="deleteModal.close()">{{'no' | translate}}</button>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #cloneModal identifier="cloneModal"
    (onAnyCloseEvent)="ngxSmartModalService.resetModalData('cloneModal')">
    <div class="graphic-container">
      <div class="graph-title">
        <h3>{{'confirm_clone' | translate}}</h3>
      </div>
      <div>
        {{'clone_message' | translate}}
      </div>

      <div class="form-group button-block">
        <button type="button" (click)="cloneWorkFlow(cloneModal.getData())" mat-button class="password-submit"
          style="margin-right:10px">{{'yes' | translate}}</button>
        <button type="button" mat-button class="password-submit"
          (click)="cloneModal.close()">{{'no' | translate}}</button>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #testModeModal identifier="testModeModal"
    (onAnyCloseEvent)="ngxSmartModalService.resetModalData('testModeModal')">
    <div class="graphic-container">
      <div class="graph-title">
        <h3>{{'confirm_test_mode' | translate}}</h3>
      </div>
      <div>
        {{'workflow_test_mode_info' | translate}}
      </div>

      <div class="form-group button-block">
        <button type="button" (click)="testModeWorkFlow(testModeModal.getData())" mat-button class="password-submit"
          style="margin-right:10px">{{'yes' | translate}}</button>
        <button type="button" mat-button class="password-submit"
          (click)="testModeModal.close()">{{'no' | translate}}</button>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #sendBoxEnable identifier="sendBoxEnable"
    (onAnyCloseEvent)="ngxSmartModalService.resetModalData('sendBoxEnable')">
    <div class="graphic-container">
      <div class="graph-title">
        <h3>{{'info_sendbox_workflow' | translate}}</h3>
      </div>
      <div>
        {{'workflow_test_mode_sendbox_enable_info' | translate}}
      </div>

      <div class="form-group button-block">
        <button type="button" mat-button class="password-submit"
          (click)="btnClick;sendBoxEnable.close()">{{'okay' | translate}}</button>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #inactiveModal identifier="inactiveModal"
    (onAnyCloseEvent)="ngxSmartModalService.resetModalData('inactiveModal')">
    <div class="graphic-container">
      <div class="graph-title">
        <h3>{{'confirm_inactivate' | translate}}</h3>
      </div>
      <div>
        {{'inactivate_message' | translate}}
      </div>

      <div class="form-group button-block">
        <button type="button" (click)="inactivateWorkFlow(inactiveModal.getData())" mat-button class="password-submit"
          style="margin-right:10px">{{'yes' | translate}}</button>
        <button type="button" mat-button class="password-submit"
          (click)="inactiveModal.close()">{{'no' | translate}}</button>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #activeModal identifier="activeModal"
    (onAnyCloseEvent)="ngxSmartModalService.resetModalData('activeModal')">
    <div class="graphic-container">
      <div class="graph-title">
        <h3>{{'confirm_activate' | translate}}</h3>
      </div>
      <div>
        {{'activate_message' | translate}}
      </div>

      <div class="form-group button-block">
        <button type="button" (click)="activateWorkFlow(activeModal.getData())" mat-button class="password-submit"
          style="margin-right:10px">{{'yes' | translate}}</button>
        <button type="button" mat-button class="password-submit"
          (click)="activeModal.close()">{{'no' | translate}}</button>
      </div>
    </div>
  </ngx-smart-modal>

</section>