<section class="start_wrapper issue-certificate-list">
  <div class="hpanel">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h3> {{'achievement_export' | translate}} <span matTooltip="{{'page_head_info_cert_export' | translate}}"
            class="headTooltip"><i class="material-icons"> help_outline</i></span></h3>
      </div>
      <div class="pull-right">
        <button style="margin: 5px" mat-button (click)="downloadCSV()"> <i class="fa fa-cloud-download"></i>
          {{'export' | translate}} </button>
        <button mat-button routerLink="/issuecertificate" class="upload-back-btn"> <i class="fa fa-hand-o-left fa-1x"
            style="font-size:20px;"></i> {{'back_to_achievements' | translate}} </button>
      </div>
    </div>

    <div class="panel-heading clearfix filter-search-box">

      <fieldset class="scheduler-border" *ngIf="!advanceSearch && allowSearch">
        <form [formGroup]="searchForm" (ngSubmit)="getIssuersCertificateListsExport(searchForm.value)">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'search' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="search" name="search">
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="user-btn-block">
              <button type="submit" class="filter-btn search" mat-button>{{'search' | translate}}</button>
              <button type="reset" class="filter-btn search" mat-button
                (click)="advanceSearch = true">{{'advanced_search' | translate}}</button>
              <button type="reset" class="filter-btn reset" mat-button
                (click)="getIssuersCertificateListsExport([], true)">{{'reset' | translate}}</button>
            </div>
          </div>
        </form>
      </fieldset>

      <fieldset class="scheduler-border" *ngIf="advanceSearch">
        <form [formGroup]="searchForm" (ngSubmit)="getIssuersCertificateListsExport(searchForm.value)">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field class="angular-datepicker field-datepicker">
              <input matInput placeholder="{{'from_date' | translate}}" [readonly]="true"
                (dateChange)="changeDateEvent($event, 'from_date')" [matDatepicker]="fromdate"
                formControlName="from_date" id="from_date" (click)="fromdate.open()">
              <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
              <mat-datepicker #fromdate></mat-datepicker>
            </mat-form-field>
            <div class="refresh-icon" (click)="refreshFromDate()">
              <mat-icon>refresh</mat-icon>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field class="angular-datepicker field-datepicker">
              <input matInput placeholder="{{'to_date' | translate}}" [matDatepicker]="todate" [readonly]="true"
                (dateChange)="changeDateEvent($event, 'to_date')" formControlName="to_date" id="to_date"
                (click)="todate.open()">
              <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
              <mat-datepicker #todate></mat-datepicker>
            </mat-form-field>
            <div class="refresh-icon" (click)="refreshToDate()">
              <mat-icon>refresh</mat-icon>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'title' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="title">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'certificate_number' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="certificate_number">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'certificate_code' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="code">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'student_id' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="student_id">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'email' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="email">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'first_name' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="first_name">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'last_name' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="last_name">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'select' | translate}}</mat-label>
              <mat-select placeholder="Select" class="form-control" formControlName="block_chain">
                <mat-option [value]="true">Blockchain</mat-option>
                <mat-option [value]="false">Not Posted</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'achievement_type' | translate}}</mat-label>
              <mat-select placeholder="Select" class="form-control" formControlName="achievement_type">
                <mat-option [value]="1"> Blockchain Certificate </mat-option>
                <mat-option [value]="2"> Blockchain Course </mat-option>
                <mat-option [value]="3"> Digital Course </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>{{'group' | translate}}</mat-label>
              <input matInput class="form-control" formControlName="group_name">
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="!apiService.is_gdpr">
            <div class="delete_select">
              <mat-checkbox formControlName="show_deleted">
                <span> {{'include_delete' | translate}} </span>
              </mat-checkbox>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="achievement-btn">
              <button type="submit" class="filter-btn" mat-button>{{'search' | translate}}</button>
              <button type="reset" class="filter-btn" mat-button
                (click)="getIssuersCertificateListsExport()">{{'reset' | translate}}</button>
              <button type="reset" class="filter-btn" mat-button
                (click)="advanceSearch = false">{{'close' | translate}}</button>
            </div>
          </div>
        </form>
      </fieldset>
    </div>


    <div class="panel-body standter">
      <mat-spinner *ngIf="process"></mat-spinner>
      <div class="example-container mat-elevation-z8">
        <div class="table-responsive">
          <table mat-table #table [dataSource]="dataSource" class="table table-striped table-bordered table-hover"
            *ngIf="!process">
            <!-- Profile Column -->

            <!-- Name Column -->
            <ng-container matColumnDef="first_name">
              <th mat-header-cell *matHeaderCellDef>{{'first_name' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
            </ng-container>

            <!-- Certificate Image Column -->
            <ng-container matColumnDef="last_name">
              <th mat-header-cell *matHeaderCellDef> {{'last_name' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>

            <!-- Certificate Number Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> {{'email_address' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Issue Date Column -->
            <ng-container matColumnDef="certificate_code">
              <th mat-header-cell *matHeaderCellDef> {{'certificate_code' | translate}}</th>
              <td mat-cell *matCellDef="let element"> {{element.certificate_code || '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="end_validity">
              <th mat-header-cell *matHeaderCellDef> {{'end_validity' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.end_validity || '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="issue_date">
              <th mat-header-cell *matHeaderCellDef>{{'issue_date' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{ element.issue_date }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <div class="col-sm-12" *ngIf="!process">
            <div class="alert alert-info no-records" *ngIf="certificateList.length === 0">
              {{'no_records_found' | translate}}
            </div>
          </div>

        </div>

        <mat-paginator [hidePageSize]="true" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</section>