.product_field p.document-pro {min-height: 13px;}
.prime-boxes-mobile-view {display:none;}
.product_detail_block.income-fetch {display:block;}
.product_detail_block.income-fetch .product_info {display:block;}
.product_detail_sections.mid {display:block;}
.product_detail_block.block-share {display:block;}
.prime-boxes {display: block;width: 50%; float: right; clear: right; position: relative; z-index: 1;padding-left: 30px;}
.product_detail_block.trace-one .col-md-12.col-sm-12 {float: none;}
.product_detail_block.trace-one {display:block;}
.product_detail_block.trace-one .product_info {display:block;}
.prime-boxes .panel-heading.clearfix {padding-right: 0;}
.product_detail_block.trace-one .col-md-12.col-sm-12 {padding: 0;}
.sebm-google-map-container { height:420px; }
.product_info h4 { margin-top:0; text-transform: capitalize;}
.alert.alert-info.no-records { margin-top:15px;}
.product_details { width:100%; display:inline-block; background-color:#f2f2f2; padding:20px; box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -webkit-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -moz-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -o-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77);}
ul.product_detail_list { padding-left:0px; margin-bottom:0px;}
ul.product_detail_list li { font-size:14px; display: inline-block;font-weight: 600; color:#1e232b;}
ul.product_detail_list li:first-child { min-width:140px;}
.scheduler-border .filter-btn.mat-button { width:100%;}
ul.activity-head-details { padding-left:0; margin-bottom:0; }
ul.activity-head-details li { min-width:190px;max-width:190px;display: inline-block;vertical-align: middle; }
.product_detail_sections.mid img.product-logo-image { max-height:140px; max-width:100%; height:auto; object-fit: contain; -o-object-fit: contain; }
.activity_field { width:100%; position: relative; display: inline-block; margin-top: 20px; }
.activity_field .form-control { cursor: pointer;}
.product_detail_sections.mid.detail-qr ul.activity-head-details li { width:50%; max-width:50%; }
.product_detail_logo img { position: relative; display: inline-block; margin:20px 0px;}
.product_detail_block { width: 100%; display: inline-block; position: relative; margin:0% 0%; }
.product_detail_left { width:100%; display: inline-block; float:left; }
.product_detail_right { width:30%; display: inline-block; }
.product_detail_left h4 {font-weight: 600;font-size:16px; margin-bottom:0px; margin-top:0px; color:#1e232b;}
.product_detail_left p {font-family: 'Roboto-Regular';font-size:14px; margin-top:0px;}
.product_detail_left h3 {font-weight: 600;font-size:24px; color:#1e232b; margin-top:0px;}
.product_info_detail { margin:0% 0%; display: inline-block; /*border-left: 2px solid #1e232b;*/}
.product_info { margin:0% 0%; display: inline-block; }
.product_info p {font-weight: 600;font-size:14px; color:#1e232b; text-align: justify; } 
ul.bar-code { padding-left:0px; }
ul.bar-code li { display: inline-block; color:#1e232b; font-size: 14px;}
.product_detail_sections { width:100%;  position: relative; margin-bottom:10px;}
.product_detail_sections.mid img { display: inline-block; max-width:120px; height:120px;}
.product_detail_sections.mid {border-left:1px solid #000; padding-left:15px; text-align: center;  }
.product_detail_sections.mid.detail-qr { border-left:none; }
.product_detail_sections.last {border-left:1px solid #000; padding-left:15px; }
.timeline-content h3 {font-size:18px;font-weight:bold;width:100%;word-wrap: break-word;word-break: break-word;}
.product-title { width:100%; text-align:center;padding:5px; margin-bottom:10px;border-bottom:1px solid #dfe2e5;padding-bottom:10px; background-color: #fff;}
.product-title h3 { color:#354052;font-weight: 600; text-transform: capitalize; }
.product_field { width:100%; display:inline-block; border-bottom:1px solid #dfe2e5;min-height:58px}
.product_field h4 { margin-bottom:0px; font-size:15px; color:#354052;font-weight: 600;}
.product-title .subtitle { text-align: left;}
:host /deep/ .nsm-dialog-btn-close { right:15px; top:15px;}
.product-detail-list { width:100%;display: inline-block; position: relative; padding:10px; border:1px solid #dfe2e5; background-color: #fff;}
.product_field p { position: relative; display: inline-block; width: 100%;word-break: break-all; word-wrap: break-word;text-transform: capitalize;}
.product_field a { margin-bottom:0;font-size: 15px; position: relative; display: inline-block; width: 100%; word-wrap: break-word; color: #3381bf; font-weight: bold;}
.main-timeline{/*overflow: hidden;*/ position: relative; margin:40px 15px;  }
.main-timeline:before, .main-timeline:after{ content: ""; display: block; width: 100%; clear: both; }
.main-timeline:before{ content: ""; width: 5px; height: 100%; background: #e6e6e6;  position: absolute; top: 10px; left: 50%; }
.main-timeline .timeline{ width: 50%; float: left; padding-right: 30px; position: relative; }
.main-timeline .timeline{ touch-action: auto !important; user-select: auto !important; -webkit-user-drag: element !important; }
.main-timeline .timeline-icon{ width: 32px; height: 32px; border-radius: 50%; background: #fff; border: 5px solid #c43050; position: absolute; top: 5.5%; right: -17.5px; }
.main-timeline .profile{ width:100%; display:inline-block; padding: 10px 15px; margin: 0; font-size: 16px; color: #fff; border-radius: 0 50px 50px 0; background: #e23a59; text-align: left; position: relative; }
.main-timeline .profile h3 {font-family: 'Roboto-Regular';font-size:18px;margin-bottom:0px;margin-top:0px;line-height: 26px;text-transform: capitalize;}
.main-timeline .profile h4 {font-family: 'Roboto-Regular';font-size:16px;margin-bottom:0px;margin-top:0px;text-transform: capitalize;}
.main-timeline .profile .profile_left { padding: 5px; display: inline-block; width:50%; float: left;word-break: break-all; word-wrap: break-word;}
.main-timeline .profile .profile_right { display: inline-block; text-align: right; width:50%;}
.product_detail_sections .product_details {padding: 6px 20px;}
.product_details h2 { color:#1e232b; }
.hpanel {width:100%;display:inline-block;margin-bottom:0px;}
img.cmpny-logo { max-height:50px; }
.view_search { display: inline-block; padding:15px 0; margin-right:10px; }
.view_search a { background-color:#1e232b; padding:5px 10px; color:#fff; border-radius: 2px; font-weight: 400; }
.separate_btn.mat-button { width:100%; color:#fff; background-color: #29b6d8; border-color: #29b6d8; font-size: 14px; padding: 0px 15px; }
.back-activity-btn.mat-button { color:#fff; background-color: #29b6d8; border-color: #29b6d8; font-size: 14px; padding: 0px 15px; margin-bottom:10px;}
.product_details .pull-left h2{ color: #1e232b; font-family: 'Roboto-Medium' }
.main-timeline .profile:before{ content: ""; border-top: 35px solid #c43050; border-left: 35px solid transparent; position: absolute; bottom: -35px; left: 0; }
.main-timeline .timeline-content{position:relative;padding: 25px 12px; margin: -5px 45px 0 35px; background: #f2f2f2;box-shadow: 0px 0px 20px 1px rgba(79,79,79,0.77); -webkit-box-shadow: 0px 0px 20px 1px rgba(79,79,79,0.77); -moz-box-shadow: 0px 0px 20px 1px rgba(79,79,79,0.77); -o-box-shadow: 0px 0px 20px 1px rgba(79,79,79,0.77); }
.main-timeline .title{ font-size: 22px; font-family: 'Roboto-Medium'; color: #1e232b; margin: 0 0 5px 0; word-break: break-word;;word-wrap:break-word;text-transform: capitalize;}
.main-timeline .address{ font-size: 16px; font-family: 'Roboto-Regular'; color: #1e232b; margin: 0 0 5px 0; text-transform: capitalize;}
.main-timeline .site{ font-size: 14px; font-family: 'Roboto-Regular'; color: #1e232b; margin: 0 0 5px 0; text-transform: capitalize;}
.main-timeline .issued{ font-size: 14px;font-weight: 600; color: #1e232b; margin: 0; text-transform: capitalize;}
.main-timeline .date{ font-size: 14px;font-weight: 600; color: #1e232b; margin: 0; text-transform: capitalize;}
.main-timeline .timeline:nth-child(2n){ padding: 0 0 0 30px; } 
.main-timeline .timeline:nth-child(2n) .timeline-icon{ right: auto; left: -14.5px; }
.main-timeline .timeline:nth-child(2n) .profile{ border-radius: 50px 0 0 50px; }
.main-timeline .timeline:nth-child(2n) .profile:before{ border-left: none; border-right: 35px solid transparent; left: auto; right: 0; }
.main-timeline .timeline:nth-child(2n) .timeline-content{ text-align: left; margin: -5px 35px 0 45px; }
.main-timeline .timeline:nth-child(2){ margin-top: 170px; }
.main-timeline .timeline:nth-child(odd){ margin: 0 0 0 0; }
.main-timeline .timeline:nth-child(even){ margin-bottom: 80px; margin-top:80px; }
.main-timeline .timeline:first-child { margin: 0; }
.main-timeline .timeline:nth-child(2n) .timeline-icon{ border-color: #12536d; }
.main-timeline .timeline:nth-child(2n) .profile{ background: #0f5e8c; }
.main-timeline .timeline:nth-child(2n) .profile:before{ border-top-color: #12536d; }
.main-timeline .timeline:nth-child(3n) .timeline-icon{ border-color: #238d8a; }
.main-timeline .timeline:nth-child(3n) .profile{ background: #44adad; }
.main-timeline .timeline:nth-child(3n) .profile:before{ border-top-color: #238d8a; }
.main-timeline .timeline:nth-child(4n) .timeline-icon{ border-color: #159b81; }
.main-timeline .timeline:nth-child(4n) .profile{ background: #1abc9c; }
.main-timeline .timeline:nth-child(4n) .profile:before{ border-top-color: #159b81; }
ul.qr-code-list li img { width:100px; padding:0 10px; }
ul.qr-code-list { width:100%; text-align: center; display: inline-block; padding-left:0;margin-bottom:20px;}
ul.qr-code-list li { color:#000; display: inline-block; text-align: center; position: relative;margin:5px;}
ul.qr-code-list li .qr-user-delete { display: none;}
ul.qr-code-list li:hover .qr-user-delete { position: absolute; left:0; right:0; bottom:0; top:0; margin:auto; background-color: rgba(0, 0, 0, 0.5); vertical-align: middle;display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;justify-content: center; align-items: center;}
ul.qr-user-list li.end_user_main:hover .qr-user-delete {display:none;}
ul.qr-user-list li.end_user_main .end_user:hover .qr-user-delete { position: absolute; left:0; right:0; bottom:0; top:0; margin:auto; background-color: rgba(0, 0, 0, 0.5); vertical-align: middle;display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;justify-content: center; align-items: center;}
ul.qr-code-list li .qr-user-delete a { cursor: pointer; font-size: 24px;color: #ffffff;background: #29b6d8;height: 36px;width: 36px;border-radius: 50%;line-height: 36px;}
ul.qr-code-list li .qr-user-delete a .material-icons {padding:5px 0;}
.end-user-qr { width:100%; display:inline-block;}
.end-user-qr img { width:100px; padding:10px;}
.qr-container { display: inline-block; text-align: center; margin-top:15px; }
ul.activity-head-details.product_images_view {width:auto;display:inline-block;text-align:left;float: left;}
ul.activity-head-details.product_images_view li {display: inline-block;max-width: 200px;text-align: center;float: left;}
ul.activity-head-details.product_images_view li img{height: 200px;margin: 0 0;display: inline-block;padding: 5%;max-width: 200px;object-fit: contain;}
.timeline .timeline-content .fa-database { position:absolute;bottom:-8px;right:-8px;font-size:16px;}

.timeline .file-icon.mat-mini-fab{background-color:#1e232b;color:#fff}
.timeline:nth-child(odd) .file-icon.mat-mini-fab{right:65px}
.timeline .file-icon.mat-mini-fab{position:absolute;right:26px;bottom:-8px;font-size:20px;cursor:pointer}

.mapDropdown{width:100%;text-align:right;display:inline-block}
.mapDropdown select{width:auto;display:inline-block}

.product_details_title{width:100%;text-align:center;display:inline-block}
.product_details_title h4{font-size:16px;font-weight:bold;text-transform:capitalize;color:#000}
.product-detail-list .product_details{width:100%;background-color:transparent;box-shadow:none;padding:10px 0}
.product-detail-list .product_details ul.product_list{padding-left:0;margin-bottom:0;padding:10px 0}
.product-detail-list .product_details ul.product_list li{display:inline-block;vertical-align:top}
.product-detail-list .product_details ul.product_list li:first-child{width:25%;text-align:center;padding-right:5px}
.product-detail-list .product_details ul.product_list li:last-child{width:75%}
.product_details ul.product_list li img{max-width:100%;max-height:90px;height:auto;min-height:auto;object-fit:contain;padding:5px}
.product-detail-list .product_details ul.product_list li p{font-size:14px;font-weight:bold}
.product-detail-list .product_details ul.product_list li p ~ p{font-weight:12px;font-weight:normal}
.product-detail-list > div{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;flex-wrap:wrap}



.main-timeline .workflow_1 .profile{background: #f7347a!important}
.main-timeline .workflow_1 .profile:before {border-top:35px solid #f7347a!important}
.main-timeline .workflow_1 .timeline-icon{border:5px solid #f7347a!important}
.main-timeline .workflow_2 .profile{ background-color: #407294!important}
.main-timeline .workflow_2 .profile:before{ border-top:35px solid #407294!important}
.main-timeline .workflow_2 .timeline-icon{ border:5px solid #407294!important}
.main-timeline .workflow_3 .profile{ background-color: #85e085!important}
.main-timeline .workflow_3 .profile:before{ border-top:35px solid #85e085!important}
.main-timeline .workflow_3 .timeline-icon{ border:5px solid #85e085!important}
.main-timeline .workflow_4 .profile{ background-color: #ff6666!important}
.main-timeline .workflow_4 .profile:before{ border-top:35px solid #ff6666!important}
.main-timeline .workflow_4 .timeline-icon{ border:5px solid #ff6666!important}
.main-timeline .workflow_5 .profile{ background-color: #6666ff!important}
.main-timeline .workflow_5 .profile:before{ border-top:35px solid #6666ff!important}
.main-timeline .workflow_5 .timeline-icon{ border:5px solid #6666ff!important}
.main-timeline .workflow_6 .profile{ background-color: #ff66d9!important}
.main-timeline .workflow_6 .profile:before{ border-top:35px solid #ff66d9!important}
.main-timeline .workflow_6 .timeline-icon{ border:5px solid #ff66d9!important}
.main-timeline .workflow_7 .profile{ background-color: #2196f3!important}
.main-timeline .workflow_7 .profile:before{ border-top:35px solid #2196f3!important }
.main-timeline .workflow_7 .timeline-icon{ border:5px solid #2196f3!important }
.main-timeline .workflow_8 .profile{ background-color: #8c2d0b!important } 
.main-timeline .workflow_8 .profile:before{border-top: 35px solid#8c2d0b!important} 
.main-timeline .workflow_8 .timeline-icon{ border:5px solid #8c2d0b!important} 
.main-timeline .workflow_9 .profile{ background-color: #a366ff!important}
.main-timeline .workflow_9 .profile:before{ border-top:35px solid #a366ff!important}
.main-timeline .workflow_9 .timeline-icon{ border:5px solid #a366ff!important}
.main-timeline .workflow_10 .profile{ background-color: #ffa500!important}
.main-timeline .workflow_10 .profile:before{ border-top:35px solid #ffa500!important}
.main-timeline .workflow_10 .timeline-icon{ border:5px solid #ffa500!important}


.end_user{position:relative;width:auto;display:block}
a.click_here{font-weight:600;color:#000000;text-shadow:none;display:block;margin:10px 0}
a.click_here:hover{text-decoration:underline;}

@media only screen and (max-width: 991px)
{
.main-timeline{ overflow: visible;margin:40px 5px;}
.main-timeline:before{ top: 0; left: 0; }
.main-timeline .timeline:nth-child(2),
.main-timeline .timeline:nth-child(odd),
.main-timeline .timeline:nth-child(even){ margin: 0; }
.main-timeline .timeline { width: 100%; float: none; padding: 0 0 0 30px; margin-bottom: 20px !important; }
.main-timeline .timeline:last-child{ margin: 0 !important; }
.main-timeline .timeline-icon{ right: auto; left: -14.5px; }
.main-timeline .profile{ border-radius: 50px 0 0 50px; }
.main-timeline .profile:before{ border-left: none; border-right: 35px solid transparent; left: auto; right: 0;z-index:-1;}
.main-timeline .timeline-content{ margin: -5px 20px 0 30px; }
.main-timeline .timeline:nth-child(2n) .timeline-content{ margin: -5px 20px 0 30px; }
.product_detail_left, .product_detail_right, .product_info_detail{ width:100%; text-align: left; border-left:0px solid transparent; }   
.product_detail_sections.mid {border-left:none; padding-left:0px;margin-left: 0; }
.product_detail_sections.last {border-left:none; padding-left:0px; }
.prime-boxes-mobile-view {display:block;clear: both;}
.prime-boxes {display:none;}
.product_field p.document-pro {min-height: 0;}
.timeline:nth-child(odd) .file-icon.mat-mini-fab{right:10px}
.product-detail-list .product_details ul.product_list li{display:inline-block;text-align:center}
.product-detail-list .product_details ul.product_list li:first-child{width:100%}
.product-detail-list .product_details ul.product_list li:last-child{width:100%}
}

.progress_animation { margin:5% 0%; }

@media (min-width: 991px) and (max-width:1230px)
{
.product_detail_left, .product_detail_right { width:100%;}
}

@media (max-width:767px)
{
.main-timeline .profile h3 { line-height: normal; }
.product-title h3 { font-size: 16px;}
.product-title h4 { font-size: 14px;}
.product-title p { font-size: 12px;}
.product-title a, .product_field a { font-size: 12px;}
img.cmpny-logo { max-height:40px; }
.profile_left { font-size:12px;}
.timeline-content h3 { font-size: 12px;}
.main-timeline .date { font-size:10px;}
.main-timeline .profile h3 {font-family: 'Roboto-Regular';font-size:12px;}
.main-timeline .profile h4 {font-family: 'Roboto-Regular';font-size:12px;}
.qr-container { display: block; }
.main-timeline .profile .profile_left {width:70%;word-break: break-all; word-wrap: break-word;}
.main-timeline .profile .profile_right { width:29%;}
ul.activity-head-details.product_images_view {width: 100%;display: inline-block;text-align: left;float: left;}
ul.activity-head-details.product_images_view li {display: inline-block;max-width: 50%;text-align: center;width: 50%;min-width: 50%;}
ul.activity-head-details.product_images_view li img {height: auto; margin: 0 0;display: inline-block;padding: 5%;max-width: 100%;-o-object-fit: contain;object-fit: contain;}
}

@media (max-width:480px)
{
.pull-right { width: 100%; text-align: center; }
img.cmpny-logo { max-height:30px; }
}

@media (max-width:460px)
{
ul.activity-head-details li { margin:10px 0; }
}
