<section class="start_wrapper certificate-list">
  <div class="user-certificate">
    <div class="hpanel">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h3>{{'api_setting' | translate}} <span matTooltip="{{'info_api_head' | translate}}" class="headTooltip"><i
                class="material-icons"> help_outline</i></span></h3>
        </div>
      </div>

      <div class="panel-body">
        <app-swagger></app-swagger>
      </div>

    </div>
  </div>
</section>